@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Container -->
<div class="w3-container w3-content full-height" style="margin-top: 80px">
    
    <h1> Welcome to The CertiEx!</h1>
    <!-- The Grid -->
    <div class="w3-row">


    </div>
    <!-- End Page Container -->
</div>
<br />